@model FAViews.Models.Applicant
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alien Applicant Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    @using (Html.BeginForm())
    {
<div class="container">
    <div>
        <div class="col-sm-4">
            <img src="~/Images/logo.png" align="left" />
        </div>
        <div class="col-sm-6">
            <h1 align="center">Alien Firearms License Application </h1>

        </div>
    </div>
    <div>
        <div>
            <label>Alien Firearms License Fee —<b>$50</b> </label>
            <br />
            <label>FBI Fingerprint Fee —<b>$16.50</b> </label>
            <br />
            <label> Washington State Patrol Live Scan Fee —<b>$16</b> </label>
            <br />
            <label>Washington State Patrol Fingerprint Fee (two cards)  —<b>$26</b> </label>
        </div>




        <h1>Individual/Agent Information</h1>
        <br />
        <div class="col-sm-12" style="border:1px solid #000">
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>PRINT or TYPE Name (Last,First,Middle)</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Fullname)
                        @Html.TextBoxFor(model => model.ApplicationType, new { @Value = "Alien", @type = "hidden" })

                    </div>
                    <div class="col-sm-3" @*style="border:1px solid #000"*@>
                        <label>Date Of Birth</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.DOB)
                    </div>
                </div>
            </div>

            <div class="row ">
                <br />
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Residential Address</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Address)
                    </div>
                    <div class="col-sm-3">
                        <label>Other names by which you have been known (maiden name, alias, etc.)</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Aliasname)
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>City</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.City)
                    </div>
                    <div class="col-sm-3">
                        <label>State</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.State)
                    </div>

                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label>Area Code</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Areacode)
                    </div>
                    <div class="col-sm-3">
                        <label>Zip Code</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Zipcode)
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3">
                        <label>Race</label>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Race)
                    </div>
                    <div class="col-sm-3">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>()
                   {
                         new SelectListItem(){ Text= "Male", Value = "1"},
                         new SelectListItem(){ Text= "Female", Value = "2"},
                   }, "Select Gender")
                    </div>
                </div>
            </div>


            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Height </label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-3">
                        <label>Weight </label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
            </div>

            <div class="row">
                <br />
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Hair</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Hair)
                    </div>
                    <div class="col-sm-3">
                        <label>Eyes </label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Eyes, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <label>List type and location of all marks, scars, tattoos.</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Tatoos)
                    </div>
                </div>
            </div>


            <div class="row">
                <br />
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Driver License/ID Number</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.DriverLicenseNumber)
                    </div>
                    <div class="col-sm-3">
                        <label>Alien Registration/I-94 number</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.AlienRegistrationnumber)
                    </div>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label>Passport Number</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.PassportNumber)
                    </div>
                    <div class="col-sm-3">
                        <label>Visa Number</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.VisaNumber)
                    </div>
                </div>
                <br />
                <br />


                <div style="border:solid 1px #000">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <label>1.Have you ever been convicted in adult court or adjudicated in a juvenile court, in this state or elsewhere, of one of the prohibitive crimes described on page 3 of this form? </label>
                            </div>
                            <div class="col-sm-2">
                                <br />
                                @Html.CheckBox("Question3Yes") Yes
                                @Html.CheckBox("Question3No") No
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <label>2.Are you now on bond or personal recognizance pending trial, appeal, or sentence for any felony offense? </label>

                            </div>
                            <div class="col-sm-2">
                                @Html.CheckBox("Question4Yes") Yes
                                @Html.CheckBox("Question4No") No

                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <label>3.Are you the subject of an outstanding arrest warrant from any court for any crime?  </label>
                            </div>
                            <div class="col-sm-2">
                                @Html.CheckBox("Question5Yes") Yes
                                @Html.CheckBox("Question5No") No
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <label>4.Have you been convicted of three or more violations of Washington's firearms laws within any five-year period? </label>

                            </div>
                            <div class="col-sm-2">
                                @Html.CheckBox("Question6Yes") Yes
                                @Html.CheckBox("Question6No") No
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <label>5.Have you had a firearm forfeited within the past ear for a drug or alcohol incident pursuant to RCW 9.41.098(1)(e)?  </label>

                            </div>
                            <div class="col-sm-2">
                                @Html.CheckBox("Question7Yes") Yes
                                @Html.CheckBox("Question7No") No

                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <label>6.Are you under a court order or an injunction concerning the possession of a firearm" . </label>

                            </div>
                            <div class="col-sm-2">
                                @Html.CheckBox("Question8Yes") Yes
                                @Html.CheckBox("Question8No") No

                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <label>7.Is your concealed pistol license, if any, in a revoked status?. </label>

                            </div>
                            <div class="col-sm-2">
                                @Html.CheckBox("Question9Yes") Yes
                                @Html.CheckBox("Question9No") No

                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-10">
                                <label>8.Have you ever been confined in a mental-health facility for more than fourteen days for treatment, or been committed as criminally insane?. . </label>

                            </div>
                            <div class="col-sm-2">
                                @Html.CheckBox("Question10Yes") Yes
                                @Html.CheckBox("Question10No") No
                                <br />
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div>
                        <p>If you answered yes to any of the numbered questions above, but still believe you are eligible for a license, attach a list of dates and circumstances including copies of any applicable pardons, certificates of rehabilitation, or court orders. </p>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
<br />

<br />
<div align="right">
    <button type="submit" id="button1" name="Submit" formaction='@Url.Action("CreateButton", "Applicant")'>Submit</button>
</div>
}


</body>
</html>

