@model FAViews.Models.Applicant
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alien Applicant Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    @using (Html.BeginForm())
    {
        <div class="container">
            <div>
                <div class="col-sm-4">
                    <img src="~/Images/logo.png" align="left" />
                </div>
                <div class="col-sm-6">
                    <h1 align="center">Alien Firearms License Application </h1>

                </div>
            </div>
            <div>
                <div>
                    <label>Alien Firearms License fee —<b>$50</b> </label>
                    <br />
                    <label>FBI fingerprint Fee —<b>$16.50</b> </label>
                    <br />
                    <label> Washington State Patrol live scan fee —<b>$16</b> </label>
                    <br />
                    <label>Washington State Patrol fingerprint fee (two cards)  —<b>$26</b> </label>
                </div>




                <h1>Individual/Agent Information</h1>
                <br />
                <div class="col-sm-12" style="border:1px solid #000">
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>PRINT or TYPE Name (Last,First,Middle)</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.Fullname,new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                @Html.TextBoxFor(model => model.ApplicationType, new { @Value = "Alien", @type = "hidden" })
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.Appstatus)


                            </div>
                            <div class="col-sm-3" @*style="border:1px solid #000"*@>
                                <label>Date Of Birth</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <br />
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Residential Address</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                            <div class="col-sm-3">
                                <label>Other names by which you have been known (maiden name, alias, etc.)</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.Aliasname, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>City</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                            <div class="col-sm-3">
                                <label>State</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>

                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Area Code</label>
                            </div>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Areacode, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                            <div class="col-sm-3">
                                <label>Zip Code</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Race</label>
                            </div>
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Race, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                            <div class="col-sm-3">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>()
                           {
                                 new SelectListItem(){ Text= "Male", Value = "Male"},
                                 new SelectListItem(){ Text= "Female", Value = "Female"},
                           }, "Select Gender",new { disabled = "disabled" })
                            </div>
                        </div>
                    </div>


                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Height </label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                            <div class="col-sm-3">
                                <label>Weight </label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <br />
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Hair</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.Hair, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                            <div class="col-sm-3">
                                <label>Eyes </label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.Eyes, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-sm-3">
                                <label>List type and location of all marks, scars, tattoos.</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.AlienRegistrationnumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <br />
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Driver License/ID Number</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.DriverLicenseNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                            <div class="col-sm-3">
                                <label>Alien Registration/I-94 number</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.AlienRegistrationnumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label>Passport Number</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.PassportNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                            <div class="col-sm-3">
                                <label>Visa Number</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.VisaNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <br />
                        <br />


                        <div style="border:solid 1px #000">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>1.Have you ever been convicted in adult court or adjudicated in a juvenile court, in this state or elsewhere, of one of the prohibitive crimes described on page 3 of this form? </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <br />
                                        @Html.CheckBoxFor(model => model.Question3Yes, new { disabled = "disabled" }) Yes
                                        @Html.CheckBoxFor(model => model.Question3No, new { disabled = "disabled" }) No
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>2.Are you now on bond or personal recognizance pending trial, appeal, or sentence for any felony offense?  </label>

                                    </div>
                                    <div class="col-sm-2">
                                        @Html.CheckBoxFor(model => model.Question4Yes, new { disabled = "disabled" }) Yes
                                        @Html.CheckBoxFor(model => model.Question4No, new { disabled = "disabled" }) No

                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>3.Are you the subject of an outstanding arrest warrant from any court for any crime?  </label>
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.CheckBoxFor(model => model.Question5Yes, new { disabled = "disabled" }) Yes
                                        @Html.CheckBoxFor(model => model.Question5No, new { disabled = "disabled" }) No
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>4.Have you been convicted of three or more violations of Washington's firearms laws within any five-year period?  </label>

                                    </div>
                                    <div class="col-sm-2">
                                        @Html.CheckBoxFor(model => model.Question6Yes, new { disabled = "disabled" }) Yes
                                        @Html.CheckBoxFor(model => model.Question6No, new { disabled = "disabled" }) No
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>5.Have you had a firearm forfeited within the past ear for a drug or alcohol incident pursuant to RCW 9.41.098(1)(e)?   </label>

                                    </div>
                                    <div class="col-sm-2">
                                        @Html.CheckBoxFor(model => model.Question7Yes, new { disabled = "disabled" }) Yes
                                        @Html.CheckBoxFor(model => model.Question7No, new { disabled = "disabled" }) No

                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>6.Are you under a court order or an injunction concerning the possession of a firearm" . </label>

                                    </div>
                                    <div class="col-sm-2">
                                        @Html.CheckBoxFor(model => model.Question8Yes, new { disabled = "disabled" }) Yes
                                        @Html.CheckBoxFor(model => model.Question8No, new { disabled = "disabled" }) No

                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>7.Is your concealed pistol license, if any, in a revoked status?. </label>

                                    </div>
                                    <div class="col-sm-2">
                                        @Html.CheckBoxFor(model => model.Question9Yes, new { disabled = "disabled" }) Yes
                                        @Html.CheckBoxFor(model => model.Question9No, new { disabled = "disabled" }) No
                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-10">
                                        <label>8.Have you ever been confined in a mental-health facility for more than fourteen days for treatment, or been committed as criminally insane?. . </label>

                                    </div>
                                    <div class="col-sm-2">
                                        @Html.CheckBoxFor(model => model.Question10Yes, new { disabled = "disabled" }) Yes
                                        @Html.CheckBoxFor(model => model.Question10No, new { disabled = "disabled" }) No
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div>
                                <p>If you answered yes to any of the numbered questions above, but still believe you are eligible for a license, attach a list of dates and circumstances including copies of any applicable pardons, certificates of rehabilitation, or court orders. </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
        <br />

        <br />
        @*<div align="right">
            <button type="submit" id="button1" name="Submit" formaction='@Url.Action("UpdateButton", "Applicant")'>Submit</button>
        </div>*@
    }


</body>
</html>


